{% extends "base_generic.html" %}
{% block content %}
  <h1>Проект: {{ project.name }} </h1>
  
  <p><strong>Ответственный:</strong> <a href="{{ project.responsible_user.get_absolute_url }}">{{ project.responsible_user }}</a></p>
  <p><strong>Начался:</strong> {{ project.start_date }}</p>
  <p><strong>Закончится:</strong> {{ project.end_date }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Список участников:</h4>
	<div class="container-fluid">
    {% for user in project.users.all %}
		<a href="{{ user.get_absolute_url }}">{{user.username}}</a>, 
    {% endfor %}
  </div>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Отчёты по проекту</h4>
	<div class="container-fluid">
	{% if project.report_set.all %}
	<table align = center width = 85% cellspacing="0" border="2" id="myTable">
		<tr>
			<th width = 15% onclick="sortTable(0)" align=center>Неделя</th>
			<th width = 20% onclick="sortTable(1)" align=left>   Выложивший</th>
			<th width = 50% onclick="sortTable(2)" align=left>   Отчёт</th>
		</tr>
    {% for report in project.report_set.all %}
		<tr> 
			<td>{{report.report_date}}</td>
			<td><a href="{{ report.user.get_absolute_url }}">{{report.user}}</a>
			<td>{{report.message}}</ul>
		<tr>
	{% endfor %}
	</table>
	{% else %} 
	<h3>Которых нет</h3>
	{% endif %}
    
  </div>
{% endblock %}