{% extends "index.html" %}
{% load static %}
{% block content %}
<style>

input, select, input.project{
    width:  200px;
    padding: 5px 10px 5px 10px;
    border:1px solid #999;
    font-size:18px;
    font-family: Tahoma;
}
input.project{
    font-size:26px;
	width:  400px;
}
input.button {
	border:0;
	background: #21145e;
	color: #dfdeee;
	border-radius: 50px;
	width: 200px;
	height: 49px;
	font-size: 16px;
	transition: 0.3s;
	cursor: pointer;
	opacity: 0.85;
	left:40%;
	top: 70%;
    position:fixed;
}

input.button:hover {
	opacity: 0.7;
}

.errorlist{
	font-size: 14px;
	color:red;
	list-style-type: none;
}
</style>
    <form action="" method="post">
        {% csrf_token %}
		<table class="empty" align = center width = 100% >
			<tr class="empty">
				<td class="empty" width = 55% align = center>
					<h1 align = center>Название проекта</h1>
					<span class="errorlist">{{form.name.errors}}</span>
					<input type="text" name="name" maxlength="200" required="" id="id_name" class = "project" value={%if form.name.value %} {{form.name.value}} {% endif %}>
				</td>
				<td class="empty" width ="10%"></td>
				<td class="empty" width ="35%"> 
			
					<table class="empty" align="right" >
						<tr class="empty" height="45px">
							<td><b>Ответственный: </b></td><td>{{form.responsible_user}} </select></td>
						</tr>
                        <tr class="empty" height="20px"><td></td>
                        <td>{{form.responsible_user.errors}}</td>
                        </tr>
						<tr class="empty" height ="45px">
							<td><b>Дата начала:</b></td><td>{{form.start_date}}</td>
						</tr>
                        <tr class="empty" height="20px"><td></td>
                        <td>{{form.start_date.errors}}</td>
                        </tr>
						<tr class="empty" height = "45px">
							<td><b>Дата конца:</b></td><td>{{form.end_date}}</td>
                            <td></td>
						</tr>
                        <tr class="empty" height="20px"><td></td>
                        <td>{{form.end_date.errors}}</td>
                        </tr>
					</table>
					<p align="right"><b>Список участников:</b><br><br> 
					{{form.users}}{{form.users.errors}}
				</td>
			</tr>
		</table>
		<br> 
		<p align=center>
        <input class="button" type="submit" value= {%if form.name.value %} "Сохранить" {% else %} "Добавить" {% endif %}/>
    </form>
	
{% endblock %}
