{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<form method="post" action="{%url 'project-changed' pk=project.pk%}"}>
	{% csrf_token %}
	<table class="empty" align = center width = 100% >
		<tr class="empty">
			<td class="empty" width = 55%>
				<h1 align = center>Название проекта</h1>	
				{{form.project.name}}
			</td>
			<td class="empty" width = 10%></td>
			<td class="empty" width = 35%> 
				<p><strong>Ответственный:</strong><big><big> </big></big><a class = "mya" href="{{ project.responsible_user.get_absolute_url }}">{{ project.responsible_user }}</a></p>
				<p><strong>
					{% if project.status == "Не начался" %} Начнётся:
					{% else %} Начался:
					{% endif %} 
				</strong>{{ project.start_date|date:'d-m-Y'}}</p>
				<p><strong>
					{% if project.status == "Завершился" %} Завершился:
					{% else %} Завершится:
					{% endif %}
				</strong> {{ project.end_date|date:'d-m-Y'}}</p>
				<p><strong>Список участников:</strong></p> <big><big>  </big></big>
				{% for user in project.users.all %}
					<a class = "mya" href="{{ user.get_absolute_url }}">{{user.username}}</a>   
				{% endfor %}						
			</td>
		</tr>
	</table>
</form>
{% endblock %}