{% extends "base_generic.html" %}
{% block head %}
{% load static %}
<script type="text/javascript" src="{% static 'js/sortTable.js' %}"></script>
{% endblock %}
{% block content %}


	<table class="table-success" width = 100% >
		<tr class="table-success">
			<td class="table-success" width = 55%>
				<h1 align = center>{{ project.name }} </h1>	
				{% if user.is_staff or project.responsible_user == user %}
					<h4 align = center><big><big>  </big></big><a  href = "{{ project.get_change_url}}" class="btn btn-primary">Изменить</a></h5>
				{% endif %}
			</td>
			<td class="table-success" width = 10%></td>
			<td class="table-success" width = 35% > 
            <div style="background:#f6faf5;border-radius: 10px;">
				<p><strong> Ответственный:</strong><big><big> </big></big><a class = "mya" href="{{ project.responsible_user.get_absolute_url }}">{{ project.responsible_user }}</a></p>
				<p><strong>
					{% if project.status == "Не начался" %} Начнётся:
					{% else %} Начался:
					{% endif %} 
				</strong>{{ project.start_date|date:'d-m-Y'}}</p>
				<p><strong>
					{% if project.status == "Завершился" %} Завершился:
					{% else %} Завершится:
					{% endif %}
				</strong> {{ project.end_date|date:'d-m-Y'}}</p>
				<p><strong>Список участников:</strong></p> <big><big>  </big></big>
				{% for user in project.users.all %}
					<a class = "mya" href="{{ user.get_absolute_url }}">{{user.username}}</a>   
				{% endfor %}
                <div>
			</td>
		</tr>
	</table>
	<br><br>

    <h2 align = center>{% if user.is_staff or user == project.responsible_user %}Все{% else %}Ваши{% endif %} отчёты по проекту</h2>
	{% if reports %}
	<table  width = 85% cellspacing="0"  id="myTable" class="table">
    <thead class="table-dark">
		<tr>
			<th width = 15% onclick="sortTable(0)">Неделя</th>
			<th width = 25% onclick="sortTable(1)">Автор</th>
			<th width = 70% onclick="sortTable(2)">Отчёт</th>
		</tr>
        </thead>
        <tbody>
    {% for report in reports %}
		<tr> 
			<td>{{report.report_date|date:'d-m-Y'}}</td>
			<td><a class = "mya" href="{{ report.user.get_absolute_url }}">{{report.user}}</a>
			<td>{{report.message}}</ul>
		<tr>
        
	{% endfor %}
    </tbody>
	</table>
	{% else %} 
	<br><br><br>
	<h3 align = center>нет отчётов</h3>
	{% endif %}

{% endblock %}