{% extends "base.html" %}
{% block content %}
<style>
.button {
	border:0;
	background: #21145e;
	color: #dfdeee;
	border-radius: 50px;
	width: 200px;
	height: 49px;
	font-size: 16px;
	transition: 0.3s;
	cursor: pointer;
	opacity: 0.85;
    left:40%;
	top: 70%;
    position:fixed;
}
title{
margin-top: 100px;
}
.button:hover {
	opacity: 0.7;
}
input[type = "password"]{
  display: inline-block;
  margin: 20px auto;
  background: white;
  margin-top: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 14px 10px;
  width: 320px;
  outline: none;
  color: black;
  
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
  
}
</style>

<h2 align="center" font-family="Arial" class="title">Смена пароля</h2>
{% if form.errors %}
<div class="alert alert-danger alert-dismissible" role="alert">
     <div id="form_errors">
        {% for key, value in form.errors.items %}
            <strong>{{ value }}</strong>
        {% endfor %}
     </div>
</div>
{% endif %}
                           
<form method="POST">
{% csrf_token %}
                                   
<label for="id_old_password">Старый пароль: </label>
<input type="password" name="old_password" autocomplete="new-password" class="form-control" required id="id_old_password" placeholder="Введите старый пароль"/><br>                                                   
<label for="id_new_password1"> Новый пароль: </label>
<input type="password" name="new_password1" autocomplete="new-password" class="form-control" required id="id_new_password1" placeholder="Введите новый пароль"/><br>
                                               
<label for="id_new_password2">Подтвердите новый пароль: </label>
<input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="form-control" placeholder="Введите новый пароль"/><br>
                                                          
<button type="submit" class="button" id="reset">Обновить пароль</button>
                                            
</form>
<script>
function CustomValidation() {
	this.invalidities = [];
	this.validityChecks = [];
}

CustomValidation.prototype = {
	addInvalidity: function(message) {
		this.invalidities.push(message);
	},
	getInvalidities: function() {
		return this.invalidities.join('. \n');
	},
	checkValidity: function(input) {
		for ( var i = 0; i < this.validityChecks.length; i++ ) {

			var isInvalid = this.validityChecks[i].isInvalid(input);
			if (isInvalid) {
				this.addInvalidity(this.validityChecks[i].invalidityMessage);
			} 

			var requirementElement = this.validityChecks[i].element;
			if (requirementElement) {
				if (isInvalid) {
					requirementElement.classList.add('invalid');
					requirementElement.classList.remove('valid');
				} else {
					requirementElement.classList.remove('invalid');
					requirementElement.classList.add('valid');
				}

			} // end if requirementElement
		} // end for
	}
};



var passwordValidityChecks = [
	{
		isInvalid: function(input) {
			return input.value.length < 8 | input.value.length > 100;
		},
		invalidityMessage: 'Длина должна быть от 8 до 100 символов',
		element: document.querySelector('label[for="id_password1"] .input-requirements li:nth-child(1)')
	},
	{
		isInvalid: function(input) {
			return !input.value.match(/[0-9]/g);
		},
		invalidityMessage: 'Должен содержать как минимум одну цифру',
		element: document.querySelector('label[for="id_password1"] .input-requirements li:nth-child(2)')
	},
	{
		isInvalid: function(input) {
			return !input.value.match(/[a-z]/g);
		},
		invalidityMessage: 'Должен содержать как минимум одну букву в нижнем регистре',
		element: document.querySelector('label[for="id_password1"] .input-requirements li:nth-child(3)')
	},
	{
		isInvalid: function(input) {
			return !input.value.match(/[A-Z]/g);
		},
		invalidityMessage: 'Должен содержать как минимум одну букву в верхнем регистре',
		element: document.querySelector('label[for="id_password1"] .input-requirements li:nth-child(4)')
	},
	{
		isInvalid: function(input) {
			return !input.value.match(/[\!\@\#\$\%\^\&\*]/g);
		},
		invalidityMessage: 'Нужно использовать символы:! @ # $ % ^ & *',
		element: document.querySelector('label[for="id_password1"] .input-requirements li:nth-child(5)')
	}
];

var passwordRepeatValidityChecks = [
	{
		isInvalid: function() {
			return passwordRepeatInput.value != passwordInput.value;
		},
		invalidityMessage: 'Этот пароль должен совпадать с первым'
	}
];


function checkInput(input) {

	input.CustomValidation.invalidities = [];
	input.CustomValidation.checkValidity(input);

	if ( input.CustomValidation.invalidities.length == 0 && input.value != '' ) {
		input.setCustomValidity('');
	} else {
		var message = input.CustomValidation.getInvalidities();
		input.setCustomValidity(message);
	}
}


var passwordInput = document.getElementById('id_new_password1');
var passwordRepeatInput = document.getElementById('id_new_password2');

passwordInput.CustomValidation = new CustomValidation();
passwordInput.CustomValidation.validityChecks = passwordValidityChecks;

passwordRepeatInput.CustomValidation = new CustomValidation();
passwordRepeatInput.CustomValidation.validityChecks = passwordRepeatValidityChecks;


var inputs = document.querySelectorAll('input:not([type="submit"])');
var submit = document.querySelector('input[type="submit"');

for (var i = 0; i < inputs.length; i++) {
	inputs[i].addEventListener('keyup', function() {
		checkInput(this);
	});
}

submit.addEventListener('click', function() {
	for (var i = 0; i < inputs.length; i++) {
		checkInput(inputs[i]);
	}
});


</script>
                            
{% endblock%}
