{% extends "base.html" %}
{% block head %}

{% if request.session.sendmessage %}

<i>{{ request.session.sendmessage }}</i>

{% endif %}

<form class="form" action="send-contact/" method="POST">{% csrf_token %}
</br>
  <label>Имя:</label>

  <input class="form-control" name="name" id="name">
</br>
  <label>Почта:</label>

  <input class="form-control" type="email" name="email" id="email">
</br>
  <label>Тема:</label>

  <input class="form-control" name="subject" id="subject">
</br>
  <label>Сообщение:</label>

  <textarea class="form-control" name="message" id="message"></textarea>
 </br>

  <button class="input1" type="submit">Send</button>

</form>

{% endblock %}